<html>
{% load static %}
<head>
    <title>The Cave</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
</head>
<body>
<header>
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">About</h4>
                    <p class="text-muted">Offers over 10 years progressive advancement in the fields
                        of IT and Telecommunications Systems, serving in multiple roles and lastly
                        as a Software Network Engineer focused on Network Automation and Software
                        Defined Networks (SDNs). I have expertise in areas such as Mobile Network
                        Telecommunications and Cloud Computing, as well as experience supporting
                        operations, remote monitoring and Systems Integration. Possesses exceptional
                        communication skills, assertive, team builder and eager to keep building my
                        career developing tools to improve Data Networks. .</p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-white">Contact</h4>
                    <ul class="list-unstyled">
                        <li><a href="https://github.com/mauriciodtdt" target="_blank"
                               class="text-white">Follow on GitHub</a></li>
                        <li><a href="https://www.linkedin.com/in/mauriciodtdt/" target="_blank "
                               class="text-white">Follow on LinkedIn</a></li>
                        <li><a href="mailto:mauriciodtdt@gmail.com" class="text-white">Email me</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarHeader" aria-controls="navbarHeader"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>

<main>

    <section class="py-3 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Mauricio Diaz</h1>
                <p class="lead text-muted">Something short and leading about the collection
                    below—its contents, the creator, etc. Make it short and sweet, but not too short
                    so folks don’t simply skip over it entirely.</p>
                <p>
                    <a href="mailto:mauriciodtdt@gmail.com" class="btn btn-primary my-2">Mail me</a>
                </p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h3>Career Progression</h3>
                            <a href="{% url 'skills' %}">
                            <img src="{% static 'coding_cover01.jpeg' %}" alt="Career Progression"
                                 class="w-100">
                            </a>
                            <p class="card-text">Just a summary of my career and IT background.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<footer class="text-muted py-5">
    <div class="container">
        <p class="float-end mb-1">
            <a href="#">Back to top</a>
        </p>
    </div>
</footer>
<script src="{% static 'js/bootstrap.bundle.js' %}"</script>
<script src="{% static 'js/bootstrap.min.js' %}"</script>
<script src="https://unpkg.com/@popperjs/core@2"></script>
</body>
</html>
