<html>
{% load static %}
<head>
    <title>The Cave</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
</head>
<body class="bg-dark">
<main>
    <section class="py-1 text-center bg-dark">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="text-white">Mauricio Diaz</h1>
                <p class="lead text-muted">Passionate about SDN, Network Automation, Mobile Telecommunications and IoT</p>
                <a href="https://www.linkedin.com/in/mauriciodtdt/" target="_blank"
                   class="text-white mx-1" style="text-decoration: none">
                    <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
                </a>
                <a href="https://github.com/mauriciodtdt" target="_blank" class="text-white mx-1"
                   style="text-decoration: none">
                    <i class="fa fa-github fa-2x" aria-hidden="true"></i>
                </a>
                <a href="mailto:mauriciodtdt@gmail.com" class="text-white mx-1">
                    <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container mb-5">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for project in projects.all %}
                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h3> {{ project.name }} </h3>
                            <a href="{% url 'detail' project.name %}">
                            <img src="{{ project.image.url }}" alt="{{ project.name }}"
                                 class="w-100">
                            </a>
                            <p class="card-text">{{ project.summary }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</main>

<footer class="text-muted py-5 bg-dark">
    <div class="container">
        <p class="float-end mb-1">
            <a href="#">Back to top</a>
        </p>
    </div>
</footer>
<script src="{% static 'js/bootstrap.bundle.js' %}"</script>
<script src="{% static 'js/bootstrap.min.js' %}"</script>
<script src="https://unpkg.com/@popperjs/core@2"></script>
</body>
</html>
